:root {
  --body-background: hsl(0, 0%, 100%);
  --font-color: hsl(0, 0%, 0%);
  --dark-blue-color: hsl(198, 61%, 14%);
  --teal-blue-color: hsl(191, 69%, 28%);
  --green-blue-color: hsl(174, 30%, 61%);
  --container-color: hsl(0, 0%, 94%);
  --box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
  --main-font: "Quicksand", sans-serif;
  --typewriterSpeed: 6s;
  --typewriterCharacters: steps(20);
  --transitionOnHover: 350ms ease-in-out;
}

[data-theme="light"] {
  --body-background: hsl(0, 0%, 100%);
  --font-color: var(--dark-blue-color);
}

[data-theme="dark"] {
  --body-background: hsl(214, 50%, 11%);
  --font-color: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

body {
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--main-font);
  opacity: 0.8;
}

h1 {
  font-size: clamp(1.8rem, 1.5rem + 2vw, 3.75rem);
}

h2 {
  margin-inline-end: 0;
  text-align: start;
}

h5 {
  text-transform: capitalize;
}

h3 {
  text-align: center;
}

h4 {
  opacity: 0.9;
}

p {
  line-height: 1.3;
  text-align: start;
}

p,
a,
button {
  font-family: var(--main-font);
}

img {
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
}

.App {
  background: var(--body-background);
  color: var(--font-color);
  transition: all 250ms ease-in-out;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  flex-direction: column;
}

.hero-container {
  overflow: hidden;
}

.hero-header h1 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  text-transform: none;
  position: relative;
}

.hero-header h1::before,
.hero-header h1::after {
  content: "";
  position: absolute;
  inset: 0;
}

.hero-header h1::before {
  background: var(--body-background);
  animation: typewriter var(--typewriterSpeed) var(--typewriterCharacters) 1s
    forwards;
}

.hero-header h1::after {
  width: 0.2rem;
  background: hsl(0, 0%, 0%);
  animation: typewriter var(--typewriterSpeed) var(--typewriterCharacters) 1s
      forwards,
    blink 875ms var(--typewriterCharacters) infinite;
}

.hero-header h2 {
  text-align: center;
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.8rem);
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.logo-small {
  max-height: 3.2rem;
  box-shadow: none;
}

.downArrow {
  position: absolute;
  margin-block-start: 70svh;
  opacity: 0.9;
}

.toggleSwitch {
  position: absolute;
  margin-block-start: 70svh;
  margin-inline-start: 95vw;
  margin-inline-end: 3.5rem;
  margin-block-end: 1rem;
}

.toggleSwitch:hover {
  opacity: 0.9;
  transition: var(--transitionOnHover);
}

.toggleSwitch i.sun,
.toggleSwitch i.moon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.75rem;
  font-size: 1.3rem;
}

.toggleSwitch i.sun {
  color: hsl(0, 0%, 100%);
}

.toggleSwitch i.moon {
  color: var(--dark-blue-color);
}

.container-bg {
  background: var(--container-color);
  border-radius: 0.6rem;
}

.container {
  padding: 0.6rem;
}

.button-link {
  border-radius: 0.3rem;
  padding: 1em 2em;
  text-transform: capitalize;
  text-decoration: none;
  background: var(--green-blue-color);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--box-shadow);
  font-weight: 500;
}

.button-link:hover {
  opacity: 0.9;
  transition: var(--transitionOnHover);
  outline: 0.1rem solid var(--teal-blue-color);
  background: hsl(0, 0%, 100%);
  color: var(--teal-blue-color);
}

.fade-in-section {
  opacity: 0;
  transition: opacity 2.5s ease;
}

.visible {
  opacity: 1;
}

@keyframes typewriter {
  to {
    margin-inline-start: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@media (width < 62rem) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    max-inline-size: 100%;
  }
}
