:root {
  --primary-color: #49beb7;
  --secondary-color: #085f63;
  --hero-color: #f0f0f0;
  --backup-color: #ffb5b5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --header-font: "Quicksand", sans-serif;
  --paragraph-font: "Quicksand", sans-serif;
  --typewriterSpeed: 6s;
  --typewriterCharacters: steps(20);
}

body {
  margin: 0 auto;
  scroll-behavior: smooth;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
  opacity: 0.8;
}

h1 {
  font-size: 60px;
}

h2 {
  text-align: left;
  margin-left: 0;
}

h5 {
  text-transform: capitalize;
}

p,
a {
  font-family: var(--paragraph-font);
}

h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  font-size: 24px;
  opacity: 0.9;
}

img {
  border-radius: 6px;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow);
}

.App p {
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  text-align: start;
}

.App .downArrow {
  position: absolute;
  padding-top: 75vh;
  text-align: center;
  width: 100vw;
  opacity: 0.9;
}

.App .logo-small {
  max-height: 50.5px;
  box-shadow: none;
}

.App .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.App .hero-container {
  overflow: hidden;
}

.App .hero-header h1 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 55px;
  text-transform: none;
  position: relative;
}

.App .hero-header h1::before,
.App .hero-header h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App .hero-header h1::before {
  background: white;
  animation: typewriter var(--typewriterSpeed) var(--typewriterCharacters) 1s
    forwards;
}

.App .hero-header h1::after {
  width: 3px;
  background: black;
  animation: typewriter var(--typewriterSpeed) var(--typewriterCharacters) 1s
      forwards,
    blink 875ms var(--typewriterCharacters) infinite;
}

.App .hero-header h2 {
  text-align: center;
  font-size: 45px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.App .container-bg {
  background: var(--hero-color);
  border-radius: 10px;
}

.App .container {
  padding: 10px;
}

.App .button-link {
  border-radius: 5px;
  padding: 16px 31px;
  text-transform: capitalize;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 19px;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}
@media (max-width: 1400px) {
  .App .hero-header h1 {
    font-size: 50px;
  }

  .App .hero-header h2 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    width: 100%;
  }

  .App .hero {
    padding-left: 0;
    padding-top: 0;
  }

  .App .downArrow {
    padding-top: 75vh;
  }

  .App .hero-header h1 {
    font-size: 40px;
  }

  .App .hero-header h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .App .hero-header h1 {
    font-size: 35px;
  }

  .App .hero-header h2 {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .App .hero-header h1 {
    font-size: 30px;
  }

  .App .hero-header h2 {
    font-size: 20px;
  }
}
