:root {
  --body-background: white;
  --font-color: black;
  --dark-blue-color: #0e2e3b;
  --teal-blue-color: #166678;
  --green-blue-color: #7db9b3;
  --container-color: #f0f0f0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Quicksand", sans-serif;
  --typewriterSpeed: 6s;
  --typewriterCharacters: steps(20);
  --transitionOnHover: 250ms ease-in-out;
}

[data-theme="light"] {
  --body-background: white;
  --font-color: black;
}

[data-theme="dark"] {
  --body-background: #0e2e3b;
  --font-color: white;
}

.App {
  background: var(--body-background);
  color: var(--font-color);
  transition: all 250ms ease-in-out;
}

body {
  margin: 0 auto;
  scroll-behavior: smooth;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--main-font);
  opacity: 0.8;
}

h1 {
  font-size: 60px;
}

h2 {
  text-align: left;
  margin-left: 0;
  font-size: 37px;
}

h5 {
  text-transform: capitalize;
}

p,
a {
  font-family: var(--main-font);
}

h3 {
  text-align: center;
}

h4 {
  font-size: 24px;
  opacity: 0.9;
}

img {
  border-radius: 6px;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow);
}

p {
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.5;
  text-align: start;
}

.downArrow {
  position: absolute;
  margin-top: 70vh;
  opacity: 0.9;
  width: 100vw;
  text-align: center;
}

.toggleSwitch {
  position: absolute;
  margin-top: 70vh;
  margin-left: 95vw;
  margin-right: 55px;
  margin-bottom: 15px;
}

.toggleSwitch:hover {
  opacity: 0.9;
  transition: var(--transitionOnHover);
}

.toggleSwitch i.sun,
.toggleSwitch i.moon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  font-size: 22px;
}

.toggleSwitch i.sun {
  color: white;
}

.toggleSwitch i.moon {
  color: var(--dark-blue-color);
  padding-left: 10px;
}

.logo-small {
  max-height: 50.5px;
  box-shadow: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.hero-container {
  overflow: hidden;
}

.hero-header h1 {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 55px;
  text-transform: none;
  position: relative;
}

.hero-header h1::before,
.hero-header h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-header h1::before {
  background: var(--body-background);
  animation: typewriter var(--typewriterSpeed) var(--typewriterCharacters) 1s
    forwards;
}

.hero-header h1::after {
  width: 3px;
  background: black;
  animation: typewriter var(--typewriterSpeed) var(--typewriterCharacters) 1s
      forwards,
    blink 875ms var(--typewriterCharacters) infinite;
}

.hero-header h2 {
  text-align: center;
  font-size: 45px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.container-bg {
  background: var(--container-color);
  border-radius: 10px;
}

.container {
  padding: 10px;
}

.button-link {
  border-radius: 5px;
  padding: 16px 31px;
  text-transform: capitalize;
  text-decoration: none;
  background: var(--teal-blue-color);
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 19px;
}

.button-link:hover {
  opacity: 0.9;
  transition: var(--transitionOnHover);
}
.hero-header,
.downArrow,
.header {
  color: var(--font-color);
}

.react-switch-bg {
  border: 1px solid var(--font-color);
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@media (max-width: 1400px) {
  .hero-header h1 {
    font-size: 50px;
  }

  .hero-header h2 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
    width: 100%;
  }

  .hero {
    padding-left: 0;
    padding-top: 0;
  }

  .hero-header h1 {
    font-size: 40px;
  }

  .hero-header h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .hero-header h1 {
    font-size: 35px;
  }

  .hero-header h2 {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .hero-header h1 {
    font-size: 30px;
  }

  .hero-header h2 {
    font-size: 20px;
  }
}
