.Contact {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.Contact h2 {
  margin: 0 auto;
}

.Contact .contact-info {
  max-width: 50%;
}

.Contact .contact-info p {
  max-width: 90%;
  margin: 0 auto;
}

.Contact .contact-header {
  font-size: 35px;
}

.Contact .contact-button-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 18px 33px;
}

.Contact .input-details {
  display: grid;
  max-width: 650px;
  grid-gap: 20px;
}

.Contact .social-media ul {
  display: block;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.Contact .icons li {
  display: inline;
  padding: 10px;
}

.Contact .icons a {
  color: var(--teal-blue-color);
  text-decoration: none;
}

.Contact .icons a:hover {
  opacity: 0.9;
  transition: var(--transitionOnHover);
}

.Contact .icons i {
  font-size: 35px;
}

@media (max-width: 1400px) {
  .Contact h2 {
    font-size: 35px;
  }

  .Contact .contact-info p {
    font-size: 19px;
  }
}

@media (max-width: 1200px) {
  .Contact h2 {
    font-size: 30px;
  }

  .Contact .button-link {
    padding: 12px 27px;
  }

  .Contact .contact-info p {
    font-size: 17px;
  }

  .Contact .contact-info {
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .Contact .contact-info {
    max-width: 650px;
  }

  .Contact .button-link {
    padding: 18px 33px;
  }

  .Contact .contact-info p {
    text-align: center;
  }
}
