.Contact {
  padding-block-start: 5rem;
  padding-inline: 1rem;
  color: black;
}

.Contact h2 {
  margin: auto;
}

.Contact .contact-info {
  max-width: 50%;
}

.Contact .contact-info p {
  font-size: clamp(0.75rem, 0.5rem + 1.5vw, 1.2rem);
  max-width: 90%;
  margin: auto;
}

.Contact .contact-header {
  font-size: clamp(2rem, 0.75rem + 2vw, 2.2rem);
}

.Contact .contact-button-link {
  display: block;
  margin: auto;
  max-inline-size: 100%;
  padding: 1.1em 2em;
  color: white;
}

.Contact .input-details {
  display: grid;
  max-inline-size: 41rem;
  grid-gap: 1.3rem;
}

.Contact .social-media ul {
  display: block;
  list-style-type: none;
  padding-inline-start: 0.8rem;
}

.Contact .icons li {
  display: inline-block;
  padding: 0.6rem;
}

.Contact .icons a {
  color: var(--teal-blue-color);
}

.Contact a {
  color: var(--green-blue-color);
  text-decoration: none;
}

.Contact .icons a:hover {
  opacity: 0.9;
  transition: var(--transitionOnHover);
}

.Contact .icons i {
  font-size: 2.2rem;
}

@media (max-width: 62rem) {
  .Contact .contact-info {
    max-inline-size: 100%;
  }

  .Contact .contact-info p,
  .Contact .social-media ul {
    text-align: center;
  }
}
