.Footer p {
  font-size: 16px;
}

.Footer .footer-link {
  text-decoration: none;
  color: var(--green-blue-color);
}

.Footer .to-top-link {
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-decoration: none;
  color: var(--font-color);
  width: fit-content;
}

.Footer .to-top-link:hover {
  color: var(--teal-blue-color);
}
