.Footer p {
  font-size: 1rem;
}

.Footer .footer-link {
  text-decoration: none;
  color: var(--green-blue-color);
}

.Footer .to-top {
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  text-decoration: none;
  color: var(--font-color);
}

.Footer .to-top:hover {
  color: var(--green-blue-color);
  transition: var(--transitionOnHover);
}
