.Footer p {
  font-size: 16px;
}

.footer-link {
  text-decoration: none;
  color: var(--secondary-color);
}

#dark .Footer p {
  color: white;
}

#dark .footer-link {
  color: var(--primary-color);
}
