.Main .portfolio-about-image {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  max-width: 475px;
  height: auto;
}

.Main .about-header h2 {
  display: flex;
  padding-bottom: 10px;
}

.Main .header {
  width: fit-content;
  border-bottom: 3px solid var(--green-blue-color);
}

.Main .about-bio p {
  text-align: start;
  font-size: 21px;
  padding: 15px;
}

.Main .about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
}

.Main .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  padding-right: 35px;
  padding-left: 35px;
}

#dark .Main {
  background: var(--dark-blue-color);
}

#dark .about-me-container {
  color: white;
}

@media (max-width: 1400px) {
  .Main .about-header h2 {
    font-size: 32px;
  }

  .Main .about-bio p {
    font-size: 18px;
  }

  .Main .portfolio-about-image {
    max-width: 430px;
  }
}

@media (max-width: 1200px) {
  .Main .about-header h2 {
    font-size: 28px;
  }

  .Main .about-bio p {
    font-size: 16.5px;
  }

  .Main .portfolio-about-image {
    max-width: 415px;
  }
}

@media (max-width: 992px) {
  .Main .about-header h2 {
    margin-bottom: 80px;
  }

  .Main .about-bio {
    padding: 0px 50px 0px 50px;
  }

  .Main .about-bio p {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .Main .about-bio p {
    text-align: center;
  }
}
