.Main .header {
  max-width: fit-content;
  text-decoration: underline solid var(--green-blue-color);
  text-underline-offset: 0.5rem;
}

.Main .about-header h2 {
  display: flex;
  font-size: clamp(1.8rem, 1rem + 2vw, 2rem);
}

.Main .about-bio {
  padding-block: 1em;
}

.Main .about-bio p {
  padding: 0.7em;
  text-align: start;
  font-size: clamp(1rem, 0.75rem + 1.2vw, 1.2rem);
}

.Main .about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-inline-size: 75rem;
}

.Main .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-inline-size: 75rem;
  margin-block-end: 5rem;
  margin-inline: auto;
}

.Main .portfolio-about-image {
  display: flex;
  max-inline-size: 30rem;
  margin: auto;
  padding: 1em;
}

@media (width < 62rem) {
  .Main .about-header h2 {
    padding-block-start: 1rem;
  }

  .Main .about-bio p {
    max-inline-size: 50ch;
    text-align: center;
  }

  .Main .portfolio-about-image {
    display: flex;
    max-inline-size: 25rem;
    margin: auto;
    padding: 1em;
  }
}
