.Main .portfolio-about-image {
  display: flex;
  margin: auto;
  padding: 1em;
  max-inline-size: 30rem;
}

.Main .about-header h2 {
  display: flex;
  font-size: clamp(1.8rem, 1rem + 2vw, 2rem);
}

.Main .header {
  max-width: fit-content;
  text-decoration: underline solid var(--green-blue-color);
  text-underline-offset: 0.5rem;
}

.Main .about-bio {
  padding-block: 1em;
}

.Main .about-bio p {
  text-align: start;
  font-size: clamp(0.9rem, 0.75rem + 1vw, 1.1rem);
  padding: 0.7em;
}

.Main .about-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-inline-size: 75rem;
}

.Main .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-inline-size: 75rem;
  margin-block-end: 5rem;
  margin-inline: auto;
}

@media (max-width: 62rem) {
  .Main .about-bio p {
    text-align: center;
  }

  .Main .about-me-container {
    max-inline-size: 52rem;
    text-align: center;
  }
}
