.NavBar .navbar {
  background: var(--background-color);
}

.NavBar .navbar-container {
  max-inline-size: 100%;
  margin-inline: 2rem;
}

.NavBar .navbar-toggler {
  background: hsl(0, 0%, 100%);
}

.NavBar .navbar-list {
  justify-content: flex-end;
}

.NavBar .nav-item {
  margin-inline-end: 1.5rem;
  font-size: 1.1rem;
}

.NavBar .nav-item button {
  font-weight: 500;
  color: var(--font-color);
}

.NavBar .navbar-nav .nav-link.active,
.NavBar .navbar-nav .show > .nav-link {
  color: var(--green-blue-color);
}

@media (width < 62rem) {
  .NavBar .fixed-top {
    position: static;
  }

  .NavBar .navbar-length {
    margin-inline: 1.5rem;
  }

  .NavBar .navbar-nav .nav-item {
    display: flex;
    justify-content: flex-end;
    margin-inline-end: 0;
  }
}
