.NavBar .navbar {
  background: var(--background-color);
}

.NavBar .navbar-length {
  max-inline-size: 100%;
  /* margin-inline-start: 48px; */
  /* margin-inline-end: 48px; */
  margin-inline: 3rem;
}

.NavBar .navbar-toggler {
  background: white;
}

.NavBar .navbar-list {
  justify-content: flex-end;
}

.NavBar .nav-item {
  margin-inline-end: 1.5rem;
  font-size: 1.1rem;
}

.NavBar .nav-item a {
  font-weight: 500;
  color: var(--font-color);
}

.NavBar .navbar-nav .nav-link.active,
.NavBar .navbar-nav .show > .nav-link {
  color: var(--green-blue-color);
}

@media (max-width: 992px) {
  .NavBar .fixed-top {
    position: static;
  }

  .NavBar .navbar-length {
    margin-inline: 1.5rem;
  }

  .NavBar .navbar-nav .nav-item {
    text-align: end;
    margin-inline-end: 0;
  }
}
