.Projects h2 {
  font-size: 35px;
}
.Projects i {
  font-size: 40px;
}
.Projects .portfolio-project-image {
  box-shadow: none;
}

.Projects .project-description p {
  font-size: 22px;
}

.Projects .project-button {
  list-style: none;
  padding-top: 10px;
}

.Projects .project-button .button-link {
  padding: 20px 35px;
}

.Projects .TravelProject .project-description,
.Projects .DictionaryProject .project-description {
  padding-left: 80px;
  padding-right: 0;
}

.Projects .WorldClockProject .project-description,
.Projects .WeatherProject .project-description {
  padding-right: 80px;
}

.Projects .project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Projects .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 90px;
}

#dark .projects-container {
  background: #155263;
  color: white;
}

#dark .projects-container h3 {
  font-weight: 700;
}

@media (max-width: 1400px) {
  .Projects h2 {
    font-size: 35px;
  }

  .Projects .project-button .button-link {
    padding: 18px 33px;
  }

  .Projects .project-description h3 {
    font-size: 25px;
  }

  .Projects .project-description p {
    font-size: 19px;
  }

  .Projects .project-skills-icons {
    padding-top: 16px !important;
  }

  .Projects .projects-img-icon img {
    height: 50px;
    width: auto;
    border: none;
    box-shadow: none;
    margin-left: 6px;
    margin-top: 3px;
  }
}

@media (max-width: 1200px) {
  .Projects h2 {
    font-size: 27px;
  }

  .Projects i {
    font-size: 30px;
  }
  .Projects .project-description h3 {
    font-size: 20px;
    margin: 0;
  }

  .Projects .project-description p {
    font-size: 17px;
  }

  .Projects .project-button {
    padding: 0;
  }

  .Projects .project-button .button-link {
    padding: 12px 27px;
  }
}

@media (max-width: 992px) {
  .Projects .project-description {
    display: block;
    width: fit-content;
  }

  .Projects .responsive-project-description {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
  }

  .Projects .project-button {
    padding: 0px;
    margin: 10px;
  }

  .Projects .project-button .button-link {
    padding: 18px 33px;
  }

  .Projects .DictionaryProject .project-description,
  .Projects .WeatherProject .project-description,
  .Projects .TravelProject .project-description,
  .Projects .WorldClockProject .project-description {
    padding: 0;
  }

  .Projects .responsive-project-description i {
    font-size: 40px;
  }

  .Projects .projects-container {
    width: 100%;
  }

  .Projects .portfolio-project-image {
    display: flex;
    width: 100%;
    height: auto;
  }
}
