.Projects h2 {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 2.2rem);
}

.Projects i {
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.5rem);
  padding: 0.2em;
  border: 1px solid white;
}

.Projects .project-skills-icons {
  border: 1px solid white;
}

.Projects .challenge-link,
.challenge-link:visited {
  text-decoration: none;
  color: var(--green-blue-color);
}

.Projects .portfolio-project-image {
  display: flex;
  max-inline-size: 100%;
  box-shadow: none;
}

.Projects .project-button {
  list-style: none;
  padding-block-start: 0.7em;
}

.Projects .project-button .button-link {
  padding: 0.9em 1.85em;
}

.Projects .project-description {
  border: 1px solid white;
}

.Projects .TravelProject .project-description,
.Projects .DictionaryProject .project-description,
.Projects .AdviceGeneratorProject .project-description,
.Projects .TicTacToeProject .project-description {
  padding-inline-start: 5em;
  padding-inline-end: 2em;
}

.Projects .LandingPageProject .project-description,
.Projects .WeatherProject .project-description {
  padding-inline-end: 5em;
  padding-inline-start: 2em;
}

.Projects .projects-container {
  margin-block-start: 5rem;
  margin-block-end: 5.6rem;
}

@media (width <= 87.5rem) {
  .Projects .project-description h3 {
    font-size: 1.6rem;
  }

  .Projects .project-skills-icons {
    padding-block-start: 1rem;
  }
}

@media (width <= 75rem) {
  .Projects .project-description h3 {
    font-size: 1.25rem;
    margin: 0;
  }
}

@media (max-width: 62rem) {
  .Projects .project-description {
    max-width: fit-content;
  }

  .Projects .responsive-project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Projects .project-button {
    margin: 0.6em;
  }

  .Projects .DictionaryProject .project-description,
  .Projects .WeatherProject .project-description,
  .Projects .CurrentProjects .project-description,
  .Projects .AdviceGeneratorProject .project-description,
  .Projects .LandingPageProject .project-description {
    padding: 0;
  }

  .Projects .responsive-project-description i {
    font-size: 2.5rem;
  }
}
