.Skills {
  padding-block-end: 5rem;
}

.Skills .header {
  margin-block-end: 5rem;
}

.Skills i {
  font-size: clamp(3.5rem, 1.5rem + 2vw, 4rem);
  transition: all 150ms ease-in-out;
  padding: 1rem;
}

.Skills i:hover {
  color: var(--green-blue-color);
  filter: contrast(90%);
  transform: scale(1.2);
  transition: var(--transitionOnHover);
}

.skills-container {
  display: grid;
  grid-gap: 6.25rem;
  grid-template-columns: repeat(5, 1fr);
}

.skills-icon {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
}

.Skills .skills-icon h4 {
  font-size: clamp(0.75rem, 0.5rem + 1.5vw, 1.3rem);
}

@media (max-width: 992px) {
  .Skills .skills-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }
}
