.Skills {
  padding-block-end: 5rem;
}

.Skills .header {
  margin-block-end: 5rem;
}

.Skills i {
  font-size: clamp(3.5rem, 1.5rem + 2vw, 4rem);
  transition: all 150ms ease-in-out;
  padding: 1rem;
}

.Skills i:hover {
  color: var(--green-blue-color);
  filter: contrast(90%);
  transform: scale(1.2);
  transition: var(--transitionOnHover);
}

.skills-container {
  display: grid;
  grid-gap: 6.25rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.skills-icon {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
}

.Skills .skills-icon h4 {
  font-size: 1.2rem;
}

@media (max-width: 1400px) {
  .Skills h2 {
    /* font-size: 35px; */
  }
  .Skills .skills-icon i {
    /* font-size: 60px; */
  }
}

@media (max-width: 1200px) {
  .Skills h2 {
    /* font-size: 30px; */
  }

  .Skills .skills-icon i {
    /* font-size: 55px; */
  }
}

@media (max-width: 992px) {
  .Skills .skills-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  .Skills .skills-icon li {
    padding: 10px;
  }

  .Skills .skills-icon i {
    /* font-size: 55px; */
    max-inline-size: 100px;
    margin: auto;
  }
}
