.Skills {
  padding-bottom: 80px;
}

.Skills .header {
  margin-bottom: 80px;
  border-bottom: 3px solid var(--primary-color);
}

.Skills i {
  font-size: 65px;
  transition: all 150ms ease-in-out;
  padding: 15px;
}

.Skills i:hover,
.Skills .img-icon img:hover {
  color: var(--primary-color);
  filter: contrast(90%);
  transform: scale(1.2);
}

.Skills .img-icon img {
  height: 65px;
  width: auto;
  border: none;
  box-shadow: none;
  transition: all 150ms ease-in-out;
}

.skills-container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.skills-icon {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
}

.Skills .skills-icon h4 {
  font-size: 20px;
}

#dark .skills-container {
  color: white;
}

@media (max-width: 1400px) {
  .Skills h2 {
    font-size: 35px;
  }
  .Skills .skills-icon i {
    font-size: 60px;
  }
}

@media (max-width: 1200px) {
  .Skills h2 {
    font-size: 30px;
  }

  .Skills .skills-icon i {
    font-size: 55px;
  }
}

@media (max-width: 992px) {
  .Skills .skills-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  .Skills .skills-icon {
    padding: 10px;
  }

  .Skills .skills-icon i {
    font-size: 55px;
  }
}
